.container {
    background-color: #021135;
    height: 100vh;

    img {
        height: 100px;
        width: auto;
    }

    .title {
        text-align: center;
        color: #fff;
    }

    .cards {
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: row;

        .card {
            width: 300px;
            height: 450px;
            background-color: white;
            padding: 20px;
            margin-left: 30px;

            h3 {
                font-size: 20px;
                font-weight: 600;
            }

            p {
                font-size: 18px;
            }

            img {
                height: 150px;
                width: auto;
            }
            
            .btn {
                margin-top: 50px;
                margin-bottom: 0px;
            }
        }
    }
}