<section class="container">

    <img [src]="urlImage" alt="">

    <h1 class="title">Session</h1>
    
    <form class="form" [formGroup]="form">

        <mat-form-field class="input">
            <mat-label>Correo electrónico</mat-label>
            <input matInput formControlName="email" type="text" placeholder="Tu correo electronico">
        </mat-form-field>

        <mat-form-field class="input">
            <mat-label>Correo electrónico</mat-label>
            <input matInput formControlName="password" type="password" placeholder="Tu contraseña">
        </mat-form-field>

        <button class="btn" color="primary" mat-raised-button (click)="login()">Send</button>
    </form>
</section>
