.container {
    .title {
        text-align: center;
        margin-bottom: 100px;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 30%;
        padding: 20px;
        margin: auto;
    }
}